<div class='container'>
  <div class='row d-flex justify-content-center'>
    <div class='card col-sm-8'>
      <div class='card-dody'>
        <div class='d-flex justify-content-center'>
          <h2 class='card-title my-3 text-center'>請修改你的支出</h2>  
        </div>
        {{> message}}
        <small class='mb-5'>*必填欄位</small>

        <form id="expense-form" action='/records/{{record._id}}?_method=PUT' method='POST'>
          <div class='row my-5'>
            <label for='name' class='col-sm-3 col-form-label text-end'>名稱<span
              >*</span>:</label>
            <div class='col-sm-9'>
              <input
                type='text'
                class='form-control'
                id='name'
                placeholder='eg.看電影'
                value="{{record.name}}"
                name='name'
                required
              />
            </div>

          </div>
          <div class='row mb-5'>
            <label for='date' class='col-sm-3 col-form-label text-end'>日期<span
              >*</span>:</label>
            <div class='col-sm-9'>
              <input
                type='date'
                class='form-control'
                id='date'
                name='date'
                value="{{record.date}}"
                required
              />
            </div>
          </div>
          <div class='row mb-5'>
            <label
              for='category'
              class='col-sm-3 col-form-label text-end'
            >種類<span>*</span>:</label>
            <div class='col-sm-9'>
              <select class='form-select' name='categoryId' id='category'>
                <option elected disabled value=''>選擇類別</option>
                {{#each categories}}
                  <option value='{{this._id}}' {{#isMatched this._id ../record.categoryId}} selected{{/isMatched}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class='row mb-5'>
            <label
              for='amount'
              class='col-sm-3 col-form-label text-end'
            >金額<span>*</span>:</label>
            <div class='col-sm-9'>
              <input
                type='number'
                class='form-control'
                id='amount'
                name='amount'
                value="{{record.amount}}"
                min="0"
                required
              />
            </div>
          </div>
          <div class='text-center'>
            <button class='btn btn-primary' type='submit'>送出</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
