<!--total amount-->
<div class='amount-box mt-5'>
  <p id="amount-title" class='ms-2'>總金額: </p>
  <p id='amount-number'>{{totalAmount}}</p>
</div>
{{!-- filterform --}}
{{> message}}
<div class='row d-flex justify-content-center'>
  <div class="col-sm-8 my-3">
      <form action="/filter" name="filterForm">
          <div class='row'>
            <select
              class='form-select'
              name='filterby'
              id='filterby'
              onchange='this.form.submit()'
            >
              <option selected disabled value="">篩選</option>
              {{#each categories}}
              <option value='{{this._id}}'{{#isMatched this._id ../categoryId}} selected{{/isMatched}}>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </form>
  </div>  
</div>

{{#if notFoundRecord}}
  <div class='alert alert-warning' role='alert'>
    <h4 class='alert-heading'>還沒有支出資料喔</h4>
    <p>{{notFoundRecord}}</p>
    <hr />
    <p class='mb-0'>開始記錄支出，掌握自己的人生</p>
  </div>
{{/if}}
{{! records }}
<div class='records-wrapper'>
  {{#if recordsNew}}
    <table class='table table-striped table-hover'>
      <tbody>
        {{#each recordsNew}}
          <tr class='align-items-center'>
            <td class='col-1 align-middle text-end'>
              <div>{{{this.icon}}}</div>
            </td>
            <td class='col-7 align-middle'>
              <div class='d-flex justify-content-between align-items-center'>
                <div>
                  <p class="record-title">{{this.name}}</p>
                  <small>{{this.date}}</small>
                </div>
                <div class='fs-5 me-2'>{{this.amount}}元</div>
              </div>
            </td>

            <td class='col-1 align-middle text-end'>
              <a class='btn btn-outline-primary' href='./records/{{this._id}}/edit'>修改</a>
            </td>
            <td class='col-1 align-middle'>
              <form
                action='./records/{{this._id}}?_method=DELETE'
                method='POST'
                style='display: inline;'
              >
                <button
                  class='btn btn-outline-danger'
                  type='submit'
                  onclick="return confirm('你確定要刪除嗎?')"
                >刪除</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
<div class='d-flex justify-content-center mt-5'>
  <a class='btn btn-primary btn-lg mb-3' href='/records/new'>新增支出</a>
</div>