<!--total amount-->
<div class='amount-box mt-5'>
  <p class='ms-2'>總金額: </p>
  <p id='amount'>{{totalAmount}}</p>
</div>

{{! records }}
<div class='records-wrapper'>
  {{#if records}}
    <table class='table table-striped table-hover'>
      <tbody>
        {{#each records}}
          <tr class='align-items-center'>
            <td class='col-7 align-middle'>
              <div class='d-flex justify-content-between align-items-center'>
                <div>
                  <p>{{this.name}}</p>
                  <small>{{this.date}}</small>
                </div>
                <div class='fs-5 me-2'>{{this.amount}}元</div>
              </div>
            </td>

            <td class='col-1 align-middle text-end'>
              <a href='./records/{{this._id}}/edit'>修改</a>
            </td>
            <td class='col-1 align-middle'>
              <form
                action='./records/{{this._id}}?_method=DELETE'
                method='POST'
                style='display: inline;'
              >
                <button
                  class='btn btn-outline-danger'
                  type='submit'
                >刪除</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>

<a class='btn btn-outline-light mb-3 ms-auto' href='/records/new'>新增支出</a>