<div class='container'>
  <div class='row d-flex justify-content-center'>
    <div class='card col-sm-8 mt-5'>
      <div class='card-dody'>
        <div class='d-flex justify-content-center'>
          <h2 class='card-title my-3 text-center'>請輸入你的支出</h2>  
        </div>
        {{> message}}
        <small class='mb-5'>*必填欄位</small>

        <form class="expense-form" action='/records' method='POST' novalidate>
          <div class='row my-5'>
            <label for='name' class='col-sm-3 col-form-label text-end'>名稱<span
              >*</span>:</label>
            <div class='col-sm-9'>
              <input
                type='text'
                class='form-control'
                id='name'
                placeholder='eg.看電影'
                value="{{#if name}}{{name}}{{/if}}"
                name='name'
                onfocus='this.select()'
                required
              />
              <div class='invalid-feedback'>這個欄位必填喔</div>
            </div>
            

          </div>
          <div class='row mb-5'>
            <label for='date' class='col-sm-3 col-form-label text-end'>日期<span
              >*</span>:</label>
            <div class='col-sm-9'>
              <input
                type='date'
                class='form-control'
                id='date'
                name='date'
                value="{{#if date}}{{date}}{{/if}}"
                onfocus='this.select()'
                required
              />
              <div class='invalid-feedback'>這個欄位必填喔</div>
            </div>
          </div>
          <div class='row mb-5'>
            <label
              for='category'
              class='col-sm-3 col-form-label text-end'
            >種類<span>*</span>:</label>
            <div class='col-sm-9'>
              <select class='form-select' name='categoryId' id='category'>
                <option disabled value=''>選擇類別</option>
                {{#each categories}}
                  <option value='{{this._id}}'{{#isMatched this._id ../categoryId}}selected{{/isMatched}}>{{this.name}}</option>
                {{/each}}
              </select>
              <div class='invalid-feedback'>這個選擇一個種類</div>
            </div>
          </div>
          <div class='row mb-5'>
            <label
              for='amount'
              class='col-sm-3 col-form-label text-end'
            >金額<span>*</span>:</label>
            <div class='col-sm-9'>
              <input
                type='number'
                class='form-control'
                id='amount'
                name='amount'
                value="{{#if amount}}{{amount}}{{/if}}"
                onfocus='this.select()'
                min="0"
                required
              />
              <div class='invalid-feedback'>請輸入大於0的數字</div>
            </div>
          </div>
          <div class='text-center'>
            <button class='btn btn-primary btn-lg submit-button' type='submit' >新增支出</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src='/javascripts/validation.js'></script>